source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect

nuget argu
nuget Flurl
nuget Fsharp.data
nuget Giraffe
nuget Microsoft.FSharpLu.Json
nuget Serilog.AspNetCore
nuget TaskBuilder.fs