html {
    overflow: hidden;
}

body {
    background: black;
}

#image-container {
    position: relative;
    height: 100vh;
    user-select: none;
    -webkit-user-drag: none;
}

img {
    position: absolute;
    max-height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.active {
    display: block;
}

#select-container {
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 10px;
}

#message-container {
    position: relative;
    height: 100vh;
}
