body {
    background: black;
}

img {
    margin: auto;
    display: block;
    max-width: 800px;
}

#select-container {
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 10px;
}

#message-container {
    position: relative;
    height: 100vh;
}
